<head>
  <!-- Canonical link to help search engines -->
  <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}" />

  <!-- Basic meta elements -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

  <!-- Dublin Core metadata for Zotero -->
  <meta name="DC.title" content="{{ page.title | replace: '"', "'" | strip_newlines }}" />
  <meta name="DC.creator" content="{{ page.author }}" />
  <meta name="DC.contributor" content="{{ page.editor }}" />
  <meta name="DC.date" content="{{ page.publication-date }}" />
  <meta name="DC.rights" content="{{ page.rights }}" />
  <meta name="DC.source" content="{{ site.title }}" />

  <!-- Open Graph metadata -->
  <meta property="og:title" content="{{page.title | replace: '"', "'" | strip_newlines }}" />
  {% if page.layout == "narrative" and page.custom_excerpt %}
  <meta property="og:description" content="{{ page.custom_excerpt | replace: '"', "'" | strip_newlines }}">
  {% else %}
  <meta property="og:description"
    content="Blog posts by Molly White, a senior software engineer and independent researcher.">
  {% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}" />
  <meta property="og:image" content="{{site.url}}{{site.baseurl}}/assets/mollyandmax.png" />
  <meta property="og:image:width" content="200" />
  <meta property="og:image:height" content="200" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@molly0xfff" />
  <meta name="twitter:creator:id" content="545445165" />
  <meta name="twitter:title" content="{{page.title | replace: '"', "'" | strip_newlines }}" />
  {% if page.layout == "narrative" and page.custom_excerpt %}
  <meta name="twitter:description" content="{{ page.custom_excerpt | replace: '"', "'" | strip_newlines }}">
  {% else %}
  <meta name="twitter:description"
    content="Blog posts by Molly White, a senior software engineer and independent researcher.">
  {% endif %}
  <meta name="twitter:image" content="{{site.url}}{{site.baseurl}}/assets/mollyandmax.png" />
  <meta name="twitter:image:alt" content="Illustration of Molly White holding her cat Max." />

  <title>
    {% if page.title == "Home" %}
    {{ site.title }}
    {% else %}
    {{ page.title }}
    {% endif %}
  </title>

  <!-- CSS link -->
  <link
    href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&family=Playfair+Display&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://www.mollywhite.net/css/main.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon-16x16.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="https://blog.mollywhite.net/feed.xml" />

  <script src="https://kit.fontawesome.com/de718e8b04.js" crossorigin="anonymous"></script>
</head>