---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* FONTS */
$main-font: "Noto Serif", serif; 
$heading-font: "Noto Serif", serif;
$regular-font-size: 20px;


/*
  COLOR.

  Make sure to leave color-scheme in config file empty for granular control
*/

$text-color: #444444;
$heading-color: #444444;
$link-color: #56784a; // color.scale($light-green, $lightness: -25%)

@import "ed";
@import "syntax";