---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* FONTS */
$main-font: "PT Serif", serif; 
$heading-font: "Lato", sans-serif;
$regular-font-size: 18px;


/*
  COLOR.

  Make sure to leave color-scheme in config file empty for granular control
*/

$text-color: #000000;
$heading-color: #000000;
$link-color: #000000;

@import "ed";
@import "syntax";
