---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* FONTS */
$main-font: "Noto Serif", serif; 
$heading-font: "Noto Serif", serif;
$regular-font-size: 20px;


/*
  COLOR.

  Make sure to leave color-scheme in config file empty for granular control
*/

$text-color: #444444;
$heading-color: #444444;
$link-color: #56784a; // color.scale($light-green, $lightness: -25%)

$text-color-dark: rgba(256, 256, 256, 0.87);
$heading-color-dark: $text-color-dark;
$link-color-dark: #B0D1A4; 

@import "ed";
@import "syntax";

.theme-base-molly {
  *:target {
    background-color: rgba(150, 183, 138, 0.3)
  }

  .masthead {
    border-bottom: 1px solid #eee;
  }

  .copyright-footer {
    background-color:#96B78A;
    text-align: center;
  } 

  .sidebar,
  .sidebar-toggle:active,
  #sidebar-checkbox:checked ~ .sidebar-toggle {
    background-color: #96B78A;
  }
}

.theme-base-molly.dark-mode {
  .masthead {
    border-bottom: 1px solid #666;
  }

  .copyright-footer {
    background-color: #4E6446;
    color: $text-color-dark;

    a {
      color: $text-color-dark
    }
  }

  .sidebar,
  .sidebar-toggle:active,
  #sidebar-checkbox:checked ~ .sidebar-toggle {
    background-color: #4E6446;
  }
}